
body{
    background:url(gg.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.hq {
    background: linear-gradient(60deg, #ffc400, #b700ff);
    box-sizing: inline-flex;
    width: 320px;
    color: #ffffff;
    min-height: 40%;
    max-height: 300px;
    border-radius: 0px 50px 50px 0px;
    text-align: center;
    margin-top: -10px;
    margin-left: -20px;
    font: bold 14px sans-serif;
    padding: 5px 5px;
}

.col-1 {
    background: #444343;
    border-radius: 50px 50px 50px 50px;
    width: 750px;
    height: 250px;
    flex-basis: 60%;
    min-width: 450px;
    margin-left: 595px;
    margin-top: 90px;
    color: rgb(241, 222, 115);
    text-align: center;
    opacity: 90%;
    margin-bottom: -560px;
}

.col-1 .llb {
    padding-top: 10px;
    color: rgb(241, 222, 115);
}