body{
    background:url(gg.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.fr{
    margin-top: 20px; 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(217,180,86,1);
    letter-spacing: 0.1px;
}
.bot{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.1px;
}

.hd {
    background: linear-gradient(60deg, #ffc400, #b700ff);
    box-sizing: inline-flex;
    width: 320px;
    color: #ffffff;
    min-height: 40%;
    max-height: 300px;
    border-radius: 0px 50px 50px 0px;
    text-align: center;
    margin-top: -10px;
    margin-left: -20px;
    font: bold 14px sans-serif;
    padding: 5px 5px;
}



.col-1 {
    background: #444343;
    border-radius: 50px 50px 50px 50px;
    width: 525px;
    height: 528px;
    flex-basis: 60%;
    min-width: 450px;
    float: right;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 90px;
    /* left: 798px; */
    /* top: 136px; */
    /* margin-left: 743px; */
    /* margin-top: 120px; */
    color: rgb(241, 222, 115);
    text-align: center;
    opacity: 70%;
    margin-bottom: -560px;
    text-decoration-color: #ffff;
}

.tl {
    color: #b44707;
    text-align: center;
    margin-left: 660px;
    margin-left: 680px;
    margin-bottom: -100px;
}

.btn {
    display: inline-block;
    background: linear-gradient(#ae00ff, #e76060);
    border-radius: 0px;
    width: 150px;
    height: 30px;
    align-items: center;
    font-size: 20px;
    border-radius: 5px 5px;
    transition: background 0.2s;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
}


.btn:hover {
    background: linear-gradient(#ff5e00, #ff003c);
}

.llb .myInput {
    display: inline-block;
    border-radius: 50px 50px 50px 50px;
    width: 220px;
    height: 45px;
    margin-top: 20px;
    
}

.lat {
    display: inline-block;
    width: 360px;
    height: 65px;
    margin-top: 20px;
    min-height: 45px;
    color: #ffffff;
    background: #ff0000;
    opacity: 80%;
    border-radius: 20px 20px 20px 20px;
    align-items: center;
}